html {
    min-height: 100%;
}

@font-face {
    font-family: grutchFont;
    src: url('../css/grutchFont/GrutchShaded.ttf')
}

input[type=checkbox] {
    transform: scale(1.5);
}

body {
    background-image: url('../css/chalkboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container { 
    margin-top: 50px;
    display: flex;
    
}

.box {
    justify-content: center;
    align-content: center;
    position: relative;
}

.titleText {
    position: relative;
    top: 70px;
    font-family: grutchFont;
    color: antiquewhite;
}

@media(max-width: 614px) {
    .titleText {
        font-size: 37px;
        top: 50px;
    }
}
@media(min-width: 615px) {
    .titleText{
        font-size: 42px;
        top: 65px !important;
    }
}
@media(min-width: 800px) {
    .titleText{
        font-size: 70px;
    }
}
@media(min-width: 1000px) {
    .titleText{
        font-size: 130px;
    }
}


.toDoBox {
    position: relative;
    margin-top: 55px;
    margin-bottom: 50px;
    background-color: rgb(254,255,156);
    align-content: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.toDoHeader {
    border-bottom: 1px solid rgb(218, 207, 0) !important;
}


.taskInput {
    background-color: rgb(254,255,156);
    border: none !important;
}

.taskInput:focus {
    outline: none;
}

@media(max-width: 615px) {
    .toDoBody {
        min-height: 150px;
    }   
}

@media(min-width: 616px) {
    .toDoBody {
        min-height: 250px;
    }    
}

@media(min-width: 1000px) {
    .toDoBody {
        min-height: 400px;
    }    
}


.toDoNote {
    border-bottom: 1px solid rgb(218, 207, 0);
    display: flex;
}


label {
    margin-bottom: 0 !important;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

.removeTask {
    display: block;
    margin-left: auto;

}

button {
    background-color:rgba(0, 0, 0, 0);
    border: none !important;
}

.buttonText{ 
    color: transparent;
    font-size: 20px;
    font-weight: 400;
    transition: color 500ms;
}


.toDoNote:hover .buttonText {
    color: red;

}

.btn:focus {
    box-shadow: none;
}

.toDoFooter {
  justify-content:space-between;
}

.itemsRemaining {
  padding-top: 2px;
}

#itemsLeft {
    color: red;
}

.status {
   justify-content: right;
}

.status .btn:focus {
    outline: 1px solid red;
}


@media(max-width: 991px) {
  
    .itemsRemaining {
      text-align: center;
    }

    #itemsLeft {
        padding-right: 0 !important;
    }
    
    .itemsLeftText {
        padding-left: 5px !important;
    }

    .clearAllButton {
        padding-left: 0 !important;
    }
}

@media(max-width: 767px) {
    .actionButtons {
        text-align: center;   
    }
    .status .btn {
        padding-top: 0;
    }
}

@media(max-width: 409px) {
    .status .btn {
        font-size: 13px;
    }
}

.randomizer {
    text-align: center;
}
.randomizer h2 {
    font-family: grutchFont;
    color:antiquewhite;
}

@media(max-width: 615px) {
    .randomizer h2{
        font-size: 20px;
    }
}

.randomizer button:focus {
    outline-color: antiquewhite;
    box-shadow: none;

}
.kudos {
    display: none;
    margin-top: -3px;
    color: white;
    text-align:center;
}