.container { 
    height: 100vh;
    width: 930px;
    display: flex;
    align-items: center;
}

.box {
    width: 80vw;
 
    justify-content: center;
    align-content: center;
    position: relative;
}

.titleText{
    position: absolute;
}

.toDoBox {
    position: relative;
    margin-top: 55px;
    margin-bottom: 50px;
    width: 80%;
    background-color: rgb(254,255,156);
    align-content: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#noteSheetForm {
    width: 100%;
}

.taskInput {
    background-color: rgb(254,255,156);
    border: none !important;
    border-bottom: 1px solid rgb(255,247,64) !important;
}

.taskInput.middle:focus {
    outline-width: 0;
}

.toDoNote {
    border-bottom: 1px solid rgb(255,247,64);
}

.toDoFooter {
    font-size: 12px;
}

.status {
    float: right;;
}

.status p {
    padding-left: 3px;
    padding-right: 3px;
}